@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    background-color: rgb(228, 237, 245);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-left: 250px;
}

@media (max-width: 1000px) {
    body{
        display: relative;
        box-sizing: border-box;
        text-align: center;
        margin: auto;
        font-size: auto;
        overflow-x: hidden;
    }

    .picture {
        display: inline;
        object-position: 50% 50%;
        width: 450px;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 50px;
    }

    header {
        display: inline;
        text-align: center;
        font-size: large;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    main {
        display: inline;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .button {
        display: inline;
        font-size: large;
        width: 60%;
        line-height: 2;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #dm {
        font-size: small;
    }

    footer {
        display: inline;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 60px;
        margin-left: -20px;
        font-size: medium;
    }

    h3 {
        display: inline;
        margin-bottom: 60px;
    }

    .old_pic {
        display: inline;
        object-position: 50% 50%;
        width: 450px;
        margin-top: 100px;
    }
}

header {
    position: relative;
    padding-left: 400px;
    padding-bottom: 20px;
    margin-top: -200px;
    margin-bottom: 50px;
}

.picture {
    width: 150px;
    border-radius: 50%;
    margin-top: 50px;
}
.old_pic {
    width: 150px;
    border-radius: 40px;
    margin-left: 550px;
    margin-top: -80px;
}

main {
    margin-bottom: 50px;
}

footer {
    margin-bottom: 50px;
    margin-left: 75px;
}

.button {
    background-color: rgb(147, 147, 249);
    border-radius: 20px;
    max-width: auto;
    margin: 10px;
    letter-spacing: normal;
    line-height: 1;
    text-align: left;
    border: none;
    min-inline-size: 350px;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
}

.menu-active {
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
}

